{% extends 'layout.html' %}
{% block title %}Register{% endblock %}
{% block body %}
    <div>
        <h1>Register</h1>
        <form action="/register" method="POST">
            <div>
                {{ form.fullname.label }}
                {{ form.fullname(placeholder="fullname") }}
            </div>
            <div>
                {{ form.password.label }}
                {{ form.password(placeholder="password") }}
            </div>
            <div>
                {{ form.email.label }}
                {{ form.email(placeholder="email") }}
            </div>
            <div>
                {{ form.enviar }}
            </div>
            {{ form.csrf_token() }}
        </form>
    </div>
{% endblock %}